<div class='whole-body container-fluid'>
<br>
<p class='highlight text-center' *ngIf='(course.Reg_Status==1)'>Admissions Open</p>
<h3 class="card-title text-center course-title-name mb-0 my-auto pt-2">{{course.course_title}}</h3> 
<div class="container-fluid  pt-3  course-about-container-height">
    <div class="row p-3">
        <div class="col-lg-12">
            <div class="card mb-3 text-left" style="max-width: 100%">
                <div class="row g-0 course-about-row-bg pl-5">
                  <div class="col-lg-4 p-2 ">
                    <img
                      src="assets/images/{{course.course_image}}"
                      alt="..."
                      class="img-fluid rounded spinhov"
                      style="width: 250px; height: 250px;"
                    />
                  </div>
                  <div class="col-lg-8">
                    <div class="card-body" >
                      <h3 class="card-title display-1" style ='color:#0B0B61;'><strong>About Course</strong></h3>
                      <p class="card-text text-left " style ='width: 100%;'>{{course.about_course}}</p> <br><br>
                      <a type="button" (click)="Register(course)" class="card-text " style ='text-decoration: none; color: #AD1457'><strong>Download Broucher Here</strong></a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="container-fluid  pt-2  mt-3 pb-3">
  <div class="row  ">
    <div class="col-lg-8 ">  
      <div class="tabs" style='width:100%; height:500px;'>
        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <input type="radio" id="tab3" name="tab-control">
        <input type="radio" id="tab4" name="tab-control" *ngIf="(!(course.dates=='') && (course.dates))">
        <ul>
          <li title="Features"><label for="tab1" role="button"><img class='tab-image' src="assets/images/Eligibility.jpg" >
            <br><span>Eligibility</span></label></li>
          <li title="Delivery Contents"><label for="tab2" role="button"><img class='tab-image' src="assets/images/exam.png" >
            <br><span>Entrance Test</span></label></li>
          <li title="Shipping"><label for="tab3" role="button"><img class='tab-image' src="assets/images/fees.png" >
            <br><span>Course Fees</span></label></li>
          <li title="Returns"><label for="tab4" role="button"><img class='tab-image' src="assets/images/calender.png" *ngIf="(!(course.dates=='') && (course.dates))" >
            <br><span *ngIf="(!(course.dates=='') && (course.dates))">&nbsp;Dates</span></label></li>
        </ul>
      
        <div class="slider">
          <div class="indicator"></div>
        </div>
        <div class="content">
          <section>
            <div class='content-dispaly' [innerHTML]="course.eligibility"></div>
          </section>
          <section>
            <div class='content-dispaly' [innerHTML]="course.entrance_details"></div><br><br>
            <a type="button" (click)="download()" class="card-text " style ='text-decoration: none; color: #AD1457'><strong>Download Sample Question Paper Here</strong></a>
          </section>
          <section>            
            <div class='content-dispaly' [innerHTML]="course.course_fee"></div><br><br>            
            <h3 style="color: #AD1457;"><strong>Refund Policy</strong></h3>
            <div class='content-dispaly' [innerHTML]="course.refund_policy"></div>
          </section>
          <section *ngIf="(!(course.dates=='') && (course.dates))">
            <div class='content-dispaly' [innerHTML]="course.dates"></div>
          </section>
        </div>
        
       </div>

       <br>
       <div *ngIf="!(testimonals.length==0)">
         <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
           <div class="carousel-inner">                
             <div class="carousel-item" *ngFor="let result of testimonals; let i = index" [ngClass]="{'active': i === 1}">
               <div class="card border-0 card-0">
                 <div class="card profile py-3 px-4 ">
                     <div class="text-center"> <img src="assets/testimonials/{{result.image}}" class="img-fluid profile-pic"> </div>
                     <h3 class="mb-0 mt-2">{{result.name}}</h3> <small>{{result.position}}</small> <small>{{result.organisation}}</small>
                 </div> 
                 <img class="img-fluid open-quotes" src="https://i.imgur.com/Hp91vdT.png" width="20" height="20">
                 <div class="content mb-0" [innerHTML]="result.testimony"></div>
                 <!-- <p class="content mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>  -->
                 <img class="img-fluid close-quotes ml-auto" src="https://i.imgur.com/iPcHyJK.png" width="20" height="20">
             </div>
             </div>
           </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
           </button>
           <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
           </button>
         </div>
     </div> 
    </div> 
    <div class="col-lg-4">
      <div *ngIf="(!(course.course_delivery=='') && (course.course_delivery))">
        <div class='bg-custom-2'>
          <h3 class='text-white display-1 text-center'><strong>&nbsp;Course Delivery</strong></h3>
        </div>
          <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
              <div class="card card-border-blue" style ="width : 15rem">
                <img
                  src="{{course.course_delivery}}"
                  class="card-img-top zoom"
                  alt="..."
                />
              </div>
            </div>
          </div>
      </div> 
      <br>
      <div *ngIf="(!(course.sponser_partner=='') && (course.sponser_partner))">
        <div class='bg-custom-2'>
          <h3 class='text-white display-1 text-center'><strong>&nbsp;Sponsoring Organisation</strong></h3>
        </div>
          <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
              <div class="card card-border-blue" style ="width : 15rem">
                <img
                  src="{{course.sponser_partner}}"
                  class="card-img-top zoom"
                  alt="..."
                />
              </div>
            </div>
          </div>
      </div>
      <br>
      <div *ngIf="(!(course.knowledge_partner=='') && (course.knowledge_partner))">
        <div class='bg-custom-2'>
          <h3 class='text-white display-1 text-center'><strong>&nbsp;Knowledge Partner</strong></h3>
        </div>
          <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
              <div class="card card-border-blue" style ="width : 15rem">
                <img
                  src="{{course.knowledge_partner}}"
                  class="card-img-top zoom"
                  alt="..."
                />
              </div>
            </div>
          </div>
      </div>  
      <br>
      <div *ngIf="(!(course.internship_partner=='') &&  (course.internship_partner))">
        <div class='bg-custom-2'>
          <h3 class='text-white display-1 text-center'><strong>&nbsp;Internship Partner</strong></h3>
        </div>
          <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
              <div class="card card-border-blue" style ="width : 15rem">
                <img
                  src="{{course.internship_partner}}"
                  class="card-img-top zoom"
                  alt="..."
                />
              </div>
            </div>
          </div>
      </div>    
      <br>    
    </div>
</div>
</div>
</div>


