 .whole-body{
  background: #EEEEEE;
} 

/* about district */
.course-title-name
{
    font-family: fantasy;
   color:white;
   background-image: linear-gradient(to right, #c33764, #1d2671);
}

.container-fluid{
  padding: 0 !important;
  margin: 0 !important;  
}

.course-subnavbar
{
   background-color: #B3E5FC;
}

.course-about-container-height
{
    max-height: 30 px;
    /* background-image: url(../Images/summer-nature-wallpaper-3_edited.png); */
    background-image: linear-gradient(to right, #c33764, #1d2671);
    /* background-color: #A9F5D0; */
}

.course-about-img-height
{
    max-height: 25 rem;
}

.course-about-row-bg
{
    /* background-color: #E0F8F1; */
    /* background-color: #e8fcee; */
    color : #AD1457;
}
 /* spinning */

 @keyframes spinning {
    from { transform: rotateX(0deg) }
    to { transform: rotateX(360deg) } 
  }
  
  .spinhov{
    animation-name: spinning;
    animation-duration: 5s;
    animation-iteration-count: 1;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
  }


  .highlight {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(to right, #283c86, #45a247);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  .div-border{
    border-radius: 20px;
    height: 70vh;
    overflow: hidden;
  }
  
  div-border ::before{
    content: '';
    display: block;
    box-sizing: border-box;
    height: 100%;
  
    border: 1em solid transparent;
    border-image: linear-gradient(to top, red 0%, blue 100%);
    border-image-slice: 1;
  }

  .card-border-blue{
    border: 3px solid #1d2671;
  }

  .card-border-blue-h1{
    font-family: fantasy;
    color:white;
    background-image: linear-gradient(to right, #6441a5, #2a0845);
  }

  .card-border-purple{
    border: 3px solid #c33764;
  }

  .card-border-purple-h1{
    font-family: fantasy;
    color:white; 
    background-image: linear-gradient(to right, #ad5389, #3c1053);
  }

  .btn-blue .btn-blue:active, .btn-blue:visited,  .btn-blue:disabled{
    background-color: #1A237E;
    /* border: none; */
}

.btn-blue:hover, .btn-blue:focus  {
    background: #5C6BC0;
}

.btn-purple  .btn-purple:active, .btn-purple:visited, .btn-purple:disabled{
    background-color:  #AD1457;
    border: none;
}

.btn-purple:hover, .btn-purple:focus {
    background-color: #F06292;
}

.btn-purple1:hover{
  background-color: black;
}

.zoom {
  padding: 1 rem;
  transition: transform .1s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (122% zoom)*/
  z-index: 1;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #AD1457 0%, #3F51B5 100%);
  }


/* 
  body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(#01579B, #03A9F4);
    background-repeat: no-repeat
} */

.card-main {
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 8px 0px #283593;
    border : 1px solid #1A237E;
}

.card-0 {
    color: white;
    background-color: #1A237E;
    position: relative;
    margin-left: 70px;
    border-radius: 10px;
    min-height: 312px;
    /* border : 1px solid #1A237E; */
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px
}

.profile {
    color: #000;
    background-color: #AD1457;
    position: absolute;
    left: -70px;
    top: 17%;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px
}

.open-quotes {
    margin-left: 130px;
    margin-top: 100px
}

.content {
    margin-left: 150px;
    margin-right: 80px
}

.close-quotes {
    margin-bottom: 100px;
    margin-right: 60px
}

@media screen and (max-width: 600px) {
    .card-main {
        padding: 50px 10px
    }

    .card-0 {
        min-height: 432px
    }

    .profile {
        top: 24%
    }

    .profile-pic {
        width: 90px;
        height: 90px
    }

    .open-quotes {
        margin-left: 100px
    }

    .content {
        margin-left: 120px;
        margin-right: 50px
    }

  .close-quotes {
         margin-right: 1000px
    } 
}

body h1 {
  text-align: center;
  color: #1A237E;
  font-weight: 300;
  padding: 40px 0 20px 0;
  margin: 0;
}
.tab-image{
  width:50px; 
  height:50px;
}


.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  /* background: linear-gradient(to right, #74ebd5, #acb6e5);; */
  background: linear-gradient(to right, #654ea3, #eaafc8);
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #1A237E;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #AD1457;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: #AD1457;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: #AD1457;
}
.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
  fill: #AD1457;
}
.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #1A237E;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #1A237E;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #1A237E;
  margin-top: 5px;
  left: 1px;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: #1A237E;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  svg {
  fill: #1A237E;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: #1A237E;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  svg {
  fill: #1A237E;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: #1A237E;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  svg {
  fill: #1A237E;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: #1A237E;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: #1A237E;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}

.content-dispaly{
  color: #1A237E;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: #1A237E;
}
.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: #1A237E;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(5):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(5):checked ~ .slider {
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}


