<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>View Course</nb-card-header>
        <nb-card-body>
          <form novalidate #RegisterForm="ngForm">
            <div class="form-group row">
              <label for="inputEmail1" class="label col-lg-2 col-form-label">Course Title<span  class="text-danger">&nbsp;*</span></label>
              <div class="col-lg-10">
                <span *ngIf="(title.invalid && (title.dirty || title.touched|| submitted))" >
                  <div *ngIf="title.errors?.required" >
                    <p class='error-display'>Course Title is required</p>
                  </div>
                </span>
                <input required type="text" class="form-control" #title='ngModel'   name="name1" [(ngModel)]="course.course_title"  id="exampleFormControlInput1" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 label">Short Description<span  class="text-danger">&nbsp;*</span></label>
              <div class="col-lg-10">
                <span *ngIf="(shortDesc.invalid && (shortDesc.dirty || shortDesc.touched|| submitted))" >
                  <div *ngIf="shortDesc.errors?.required" >
                    <p class='error-display'>Short Description is required</p>
                  </div>
                </span> 
                <ckeditor required [config]="{ extraPlugins: 'divarea', height: '100' }"  #shortDesc='ngModel'   name="shortDesc" [(ngModel)]="course.course_short_desc" readonly></ckeditor>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail1" class="label col-lg-2 col-form-label">Registration Status</label>
              <div class="col-lg-10">
                <select class="form-select " #Reg_Status='ngModel'   name="Reg_Status" [(ngModel)]="course.Reg_Status"    aria-label="Default select example" style="width:100%; height:2em"> 
                  <option selected>Choose from the list</option>
                  <option value="0">Registration Closed</option>
                  <option value="1">Registration Open</option>
                  <option value="2">Coming Soon</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail1"  class="label col-lg-2 col-form-label">Rating</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" #Rating='ngModel'   name="Rating" [(ngModel)]="course.Rating"    id="exampleFormControlInput1" placeholder="Rating between 1-5">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail1" class="label col-lg-2 col-form-label">Course Category<span  class="text-danger">&nbsp;*</span></label>
              <div class="col-lg-10">
                <span *ngIf="(Category.invalid && (Category.dirty || Category.touched|| submitted))" >
                  <div *ngIf="Category.errors?.required" >
                    <p class='error-display'>Category is required</p>
                  </div>
                </span> 
                <select required class="form-select " #Category='ngModel'   name="Category" [(ngModel)]="course.Category"   aria-label="Default select example" style="width:100%; height:2em"> 
                  <option selected>Choose from the list</option>
                  <option value="Retail">Retail</option>
                  <option value="Institutional">Institutional</option>
                  <option value="Corporate">Corporate</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 label">About Course<span  class="text-danger">&nbsp;*</span></label>
              <div class="col-lg-10">
                <span *ngIf="(about_course.invalid && (about_course.dirty || about_course.touched|| submitted))" >
                  <div *ngIf="about_course.errors?.required" >
                    <p class='error-display'>About Course is required</p>
                  </div>
                </span> 
                <ckeditor required [config]="{ extraPlugins: 'divarea', height: '100' }" #about_course='ngModel'   name="about_course" [(ngModel)]="course.about_course"   ></ckeditor>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 label">Course Eligibility<span  class="text-danger">&nbsp;*</span></label>
              <div class="col-lg-10">
                <span *ngIf="(eligibility.invalid && (eligibility.dirty || eligibility.touched|| submitted))" >
                  <div *ngIf="eligibility.errors?.required" >
                    <p class='error-display'>Course Eligibility is required</p>
                  </div>
                </span> 
                <ckeditor required [config]="{ extraPlugins: 'divarea', height: '100' }"  #eligibility='ngModel'   name="eligibility" [(ngModel)]="course.eligibility" ></ckeditor>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 label">Course Fee<span  class="text-danger">&nbsp;*</span></label>
              <div class="col-lg-10">
                <span *ngIf="(course_fee.invalid && (course_fee.dirty || course_fee.touched|| submitted))" >
                  <div *ngIf="course_fee.errors?.required" >
                    <p class='error-display'>Course Fee is required</p>
                  </div>
                </span> 
                <ckeditor [config]="{ extraPlugins: 'divarea', height: '100' }"  #course_fee='ngModel'   name="course_fee" [(ngModel)]="course.course_fee"   ></ckeditor>
              </div>
            </div>
            <div class="form-group row">
              <span *ngIf="(entrance_details.invalid && (entrance_details.dirty || entrance_details.touched|| submitted))" >
                <div *ngIf="entrance_details.errors?.required" >
                  <p class='error-display'>Entrance Exam Details is required</p>
                </div>
              </span> 
              <label class="col-lg-2 label">Entrance Exam Details<span  class="text-danger">&nbsp;*</span></label>
              <div class="col-lg-10">
                <ckeditor required [config]="{ extraPlugins: 'divarea', height: '100' }" #entrance_details='ngModel'   name="entrance_details" [(ngModel)]="course.entrance_details"   ></ckeditor>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 label">Refund Policy</label>
              <div class="col-lg-10">
                <ckeditor [config]="{ extraPlugins: 'divarea', height: '100' }" #refund_policy='ngModel'   name="refund_policy" [(ngModel)]="course.refund_policy"   ></ckeditor>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-2 label">Important Dates</label>
              <div class="col-lg-10">
                <ckeditor [config]="{ extraPlugins: 'divarea', height: '100' }"#dates='ngModel'   name="dates" [(ngModel)]="course.dates"   ></ckeditor>
              </div>
            </div>
            <div class=" row">
              <label class="col-lg-2 label">Course Image<span  class="text-danger">&nbsp;*</span></label>
              <span *ngIf="(course_image.invalid && (course_image.dirty || course_image.touched|| submitted))" >
                <div *ngIf="course_image.errors?.required" >
                  <p class='error-display'>Course Image is required</p>
                </div>
              </span> 
              <div class="col-lg-5">
                <input type="text" class="form-control" value='{{course.course_image}}'  readonly id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="col-lg-5"> 
                <input  class="form-control form-control-sm " #course_image='ngModel' (change)="selectImage($event)"  name="course_image" [(ngModel)]="course.course_image" id="formFileSm" type="file" style="height:2.5rem">
              </div>
            </div>
            <br>
            <div class=" row">
              <label class="col-lg-2 label">Course Delivery<span  class="text-danger">&nbsp;*</span></label>
              <span *ngIf="(course_image.invalid && (course_image.dirty || course_image.touched|| submitted))" >
                <div *ngIf="course_image.errors?.required" >
                  <p class='error-display'>Course Image is required</p>
                </div>
              </span> 
              <div class="col-lg-5">
                <input type="text" class="form-control"  value='{{course.course_delivery}}'  readonly id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="col-lg-5"> 
                <input class="form-control form-control-sm " #course_delivery='ngModel' (change)="selectImage($event)"  name="course_delivery" [(ngModel)]="course.course_delivery" id="formFileSm" type="file" style="height:2.5rem">
              </div>
            </div>
            <br>
            <div class=" row">
              <label class="col-lg-2 label">Internship Partner</label>
              <div class="col-lg-5" *ngIf="(!(course.internship_partner=='') && (course.internship_partner))">
                <input type="text" class="form-control" value='{{course.internship_partner}}'   readonly id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="col-lg-5"> 
                <input class="form-control form-control-sm" #internship_partner='ngModel' (change)="selectImage($event)"  name="internship_partner" [(ngModel)]="course.internship_partner" id="formFileSm" type="file" style="height:2.5rem">
              </div>
            </div>
            <br>
            <div class=" row">
              <label class="col-lg-2 label">Knowledge Partner</label>
              <div class="col-lg-5" *ngIf="(!(course.knowledge_partner=='') && (course.knowledge_partner))">
                <input type="text" class="form-control"  value='{{course.knowledge_partner}}'  readonly id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="col-lg-5"> 
                <input class="form-control form-control-sm" #knowledge_partner='ngModel' (change)="selectImage($event)"  name="knowledge_partner" [(ngModel)]="course.knowledge_partner" id="formFileSm" type="file" style="height:2.5rem">
              </div>
            </div>        
            <br>  
            <div class=" row">
              <label class="col-lg-2 label">Sponsour Partner</label>
              <div class="col-lg-5" *ngIf="(!(course.sponser_partner=='') && (course.sponser_partner))">
                <input type="text" class="form-control" value='{{course.sponser_partner}}'  readonly id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="col-lg-5"> 
                <input class="form-control form-control-sm" #sponser_partner='ngModel' (change)="selectImage($event)"  name="sponser_partner" [(ngModel)]="course.sponser_partner"  id="formFileSm" type="file" style="height:2.5rem">
              </div>
            </div>
            <br>
            <div class="form-group row">
              <div class="col-lg-2"></div>
              <div class="col-lg-10" >
                <div class="form-check" readonly >
                  <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="active" [(ngModel)]="course.active" >
                  <label class="form-check-label" for="flexCheckDefault">
                    Active
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6"></div>
              <div class="col-lg-6">
                <button type="button" class="btn btn-danger btn-sm" (click)='closeForm()'>Close</button>&nbsp;
                <button type="submit" class="btn btn-primary btn-sm" (mousedown)="submitted=true" (click)='editCourse()'>Update Course</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
  </div>
  </div>
  